@model WebStore.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Карточка Сотрудника</title>
</head>
<body>
    <p>Model.Name</p>
    <p>Model.LastName</p>
    <p>Model.Patronymic</p>
    <p>Model.Age</p>
    <p>Model.Info</p>
</body>
</html>
